<header class="site-header">
        <div class="container nav-container">
            <a href="/" class="logo">My Blog</a>

            <nav class="nav-links">
                <a href="/">Home</a>
                <a href="/compose">Compose</a>
            </nav>
        </div>
    </header>

